<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio - Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Hospital Hudson</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Buscador -->
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar..." class="search-input">
                        <button class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="equipo.html">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>

                    <!-- Botón de Login -->
                    <li class="nav-item">
                        <a href="/login" class="btn btn-outline-light">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



<h1>Bienvenido, Paciente</h1>
<p>Selecciona una de las siguientes opciones:</p>

<ul>
    <li><a th:href="@{/paciente/turnos}">Ver Turnos Disponibles</a></li>
    <li><a th:href="@{/paciente/mis-turnos}">Mis Turnos</a></li>
</ul>

</body>
</html>